html{ 
    background: url(img/bg.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body{
      margin: 0 auto;
      text-align: center;
  }

  h1{
    font-family: 'Inconsolata';
    color: #000;
    font-size: 4em;
    font-weight: 700;
    padding: 0.5em; 
  }

  .button{
      margin-top: 0.5em;
      font-family: 'Fjalla One';
      font-size: 1em;
      color: #fff;
      background-color: #000;
      padding: 1em;
      border: none;
      border-radius: 4px;
  }

  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button:disabled{
      background-color: rgb(157, 160, 165, 0.5);
  }

  #birthdayInput, #horoscope-input{
      margin-bottom: 1.5em;
      background-color:rgba(255, 255, 255, 0.5);
      border: none;
      border-radius: 4px;
      color: #000;
      font-family: 'Inconsolata';
      font-weight: 700;
      padding: 0.5em;
  }

  #birthdayInput{
      font-size: 1.5em;
  }

  #horoscope-input{
      font-size: 1em;
  }

  #output-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #fff;
  }